body {	
	font-size:2em!important;	
	color:#fff;
	background:url('/sales/images/e.jpg');
	background-size:cover;
 }
legend { color:#fff!important; }
input {
	background:rgba(255,255,255,0.6)!important;
}
header {
	border:0!important;
}
label { border:0px;!important; }

.cust-nav {
	background:#004d60!important;
} 

.tiny { font-size:11px; text-decoration:underline; }